<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @garden.banner_url %>);">
  <div class="container">
    <h1><%= @garden.name %></h1>
  </div>
</div>

<div class="container my-3">
  <%= link_to '+ Add plant', new_garden_plant_path(@garden) %> |
  <%= link_to 'Edit', edit_garden_path(@garden) %> |
  <%= link_to 'Back', gardens_path %>
</div>


<div class="container">
  <div class="row">
    <% @garden.plants.each do |plant| %>
      <div class="col-4">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= plant.image_url %>)">
          <%= plant.name %>
          <%= link_to '+ Add tag', new_plant_plant_tag_path(plant) %>

          <%= link_to plant_path(plant), method: :delete, data: { confirm: "Are you sure? Like... really?"} do %>
            <i class="fas fa-trash-alt plant-destroy"></i>
          <% end %>

          <div class="card-tags">
            <% plant.tags.each do |tag| %>
              <span><%= tag.name %></span>
            <% end %>


          </div>

        </div>
      </div>
    <% end %>
  </div>
</div>



